price__brands=<тут dp_urlSegment категорий www.de-pa.by/api/v1/item-brands>
price__google_sheet_id=<тут id Google Таблицы www.docs.google.com/тутId/edit>
price__contactInHeader=user@site.com\nsite.com
